// @import '@/lib/reset.scss';
// @import '@/lib/base.scss';

.box {
    width: 100%;
    font-size: 22px;
    display: flex;
    align-items: baseline;
    text-align: center;
    padding-bottom: 20px; 
}
.item {
    flex: 1;
    color: #666;
}
.active {
    color: #000;
    font-weight: 900;
    font-size: 24px;
}