@import '@/lib/base.scss';
@import '@/lib/reset.scss';

.banner {
  width: 100%;
}
.url {
  position: relative;
  display: block;
  width: 100%;
  margin: auto;
}
.img {
  display: block;
  width: 100%;
  margin: auto;
  border-radius: 5px;
}
.tag {
  position: absolute;
  bottom: 0;
  right: 0;
  color: #fff;
  border-radius: 5px;
  padding: 3px;
}
